* {
  box-sizing: border-box;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
  float: left;
  padding: 15px;
  border: 1px solid red;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

/* Style that clears flow so other elements are placed as if columns exist */
.row:after {
  content: "";
  clear: both;
  display: table;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

body {
  font-size: 10pt;
  text-align: center;
  margin: 0px;
  overflow-x: hidden;
}
.button {
  padding: 12px 15px 12px 15px;
  position: relative;
  font-size: 12pt;
  margin: 53px;
  border: 2px solid #343a40;
  display: inline-block;
  cursor: pointer;
}
.button:hover {
    background-color: #343a40;
    border-color: #343a40;
    color: #fff;
}
.header {
  font-size: 25pt;
  font-weight: bold;
  color: #444649;
  position: relative;
}
.header-bar {
    margin: 25px 0 75px 0;
    width: 70px;
    height: 4px;
    background: #444649;
}
.height-fix {
  height: 100vh;
  margin-top: 200px;
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #33b5e5;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12),
  0 1px 2px rgba(0,0,0,0.24);
}
.menu li: hover {
  background-color: #0099cc;
}
/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #004c40;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    left:0;
    width: 100%; /* Full width */
    z-index: 1;
    font-size: 12pt;
    font-weight: bold;
}
/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.overflow-wrap {
  overflow-x: hidden;
}
section {
  padding: 70px 0 70px 0;
  color: #616161;
  line height: 11pt;
  position: relative;
}
section .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
  box-sizing: border-box;
}
section:nth-of-type(1) {
  padding: 0 10px;
  height: calc(100vh + 53px);
  background: url(img/background.jpeg);
  background-repeat: no-repeat;
  background-position:left;
  background-size: cover;
}
section:nth-of-type(1) a {
  color: inherit;
  text-decoration: none;
}
section:nth-of-type(1) .text {
  margin: 0 0 20px 0;
  font-size: 16pt;
  line-height: 20pt;
  pointer-events: none;
}
section:nth-of-type(2) .bullet-wrap {
    justify-content: flex-start;
    padding: 0 7px;
    height: 200px;
    max-width: 200px;
}
section:nth-of-type(2) img {
  border-radius: 15px;
}
section:nth-of-type(2) .me-wrap {
    justify-content: flex-start;
    padding: 0 7px;
    height: 350px;
    max-width:600px;
}
section:nth-of-type(2) .label {
    margin: 20px 0 10px 0;
}
section:nth-of-type(4) {
  background-color: #f5f5f5;
}
section:nth-of-type(4) a{
  color: inherit;
  text-decoration: none;
}
section:nth-of-type(4) a:hover{
  opacity: 0.8;
  color: #000;
}
section:nth-of-type(4) img {
  border-radius: 6px;
}
.text {
  color: #000;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex.row {
    flex-direction: row;
    /*
    flex-wrap: wrap;
    */
}

.box {
  background: #00897b;
  border-radius: 15px;
  padding: 10px;
}
.box i {
  font-size: 64px;
  color: #fff;
}
.label {
    font-size: 14pt;
    font-weight: 500;
}
.portfolio-container {
  width:300px;
  height:280px;
  margin:10px;
  border-radius: 6px;
  background-color: #fff;
  justify-content:flex-start;
  align-items:left;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}
.portfolio-container:hover {
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.4);
}
.portfolio-text {
  padding: 15px;
  font-size: 12pt;
  text-align: left;
}
.portfolio-topic {
  font-size: 9pt;
}
.portfolio-img-box {
  padding: 8px 8px 0 8px;
}
.sm-icon a {
  margin: 0 15px;
}

/* Bar char */
section:nth-of-type(3) .bars-wrap {
    margin: 15px auto 0 auto;
    width: calc(100% - 15px);
    max-width: 90%;
}
section:nth-of-type(3) .bar {
    color: #666;
    height: 22px;
    position: relative;
    background-color: #eee;
    margin: 0 0 12px 0;
    align-items: flex-end;
    font-size: 7pt;
}
section:nth-of-type(3) .bar.fill {
    top: 0;
    left: 0;
    position: absolute;
    background-color: #00A1A7;
    padding: 0;
    opacity: 1;
}
section:nth-of-type(3) .bar .tag {
    top: 0;
    left: 0;
    position: absolute;
    background-color: #04C2C9;
    color: #fff;
    height: 100%;
    width: 110px;
    width: 70px;
}
section .flex-50-gt-sm {
    display: block;
}
.bar-title {
  margin-bottom: 20px;
}
section:nth-of-type(3) ul {
  padding: 0;
}
section:nth-of-type(3) li {
  width: 25%;
}
.bar-labels {
  font-size: 12pt;
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  list-style: none;
  width: 100%;
}


@media screen and (min-width: 600px) {
  body {
    font-size: 16pt;
  }
  section {
    line-height: 18pt;
    padding: 100px 0 130px 0;
  }
  section:nth-of-type(1) .text {
      font-size: 24pt;
      line-height: 34pt;
  }
  .header {
    font-size: 32pt;
  }
  .header-bar {
    width: 100px;
  }
  .label {
    font-size: 20pt;
  }
  section:nth-of-type(2) img {
    width: 350px;
    height: 350px;
  }
  section:nth-of-type(2) .bullet-wrap {
    height: 400px;
    max-width: 400px;
    padding: 0 20px;
  }
  section:nth-of-type(2) .me-wrap {
    height: 600px;
  }
  section:nth-of-type(2) .label {
      margin: 40px 0 20px 0;
  }
  .box i {
    font-size: 96px;
  }
}
